<?php

/**
 * This is the config file for SlmQueueAmq. Just drop this file into your config/autoload folder (don't
 * forget to remove the .dist extension from the file), and configure it as you want
 */

return [
    'slm_queue' => [
        'queue_manager' => [
            /**
             * Define queue instances
             */

            /*
            'factories' => [
                'demo' => 'SlmQueueAmq\Factory\AmqQueueFactory'
            ]
            */
        ],
        'queues' => [
            /**
             * Define all queue options
             */

            /*
            'demo' => [
                'destination' => '/queue/demo'
            ],
            */
        ],
        'active_mq' => [
            'broker_url' => '',
        ]
    ]
];